<div class="app" w-bind>
    <div class="btn-group">
        <app-button label="Click Me" variant="primary" w-id="primaryButton"
            w-onClick="handlePrimaryButtonClick"/>

        <app-button label="Click Me" variant="success" w-id="successButton"
            w-onClick="handleSuccessButtonClick"/>

        <app-button label="Click Me" variant="danger" w-id="dangerButton"
            w-onClick="handleDangerButtonClick"/>
    </div>
    <app-alert w-id="alert"/>
</div>