<lasso-page name="index" package-path="./browser.json" />

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget Communication</title>
    <lasso-head/>
</head>
<body>
    <app/>

    <lasso-body/>
    <init-widgets/>
    <browser-refresh/>
</body>
</html>